<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">ChatGPT</h1>
      <p id="content">
        <b
          *ngFor="let m of messages"
          class="text-nowrap bg-body-secondary border"
          style="width: 8rem"
        >
          {{ m.role + ": " + m.content }}<br />
        </b>
      </p>
      <div id="footer">
        <input
          class="form-control form-control-lg"
          type="text"
          [(ngModel)]="questions"
          placeholder="Welcome to Chat Pizza, What you want to order today?"
          (keyup.enter)="onSubmit()"
        />
      </div>
    </div>
  </div>
</div>
